body{
  background-color: black;
  font-family: "PT sans", "Playfair Display" , sans-serif;
  margin: 0 auto;
}

a{
  text-decoration: none;
}

a:hover,
a:focus{
  text-decoration:underline;
}

.page-header-top a{
  color: #969696;
  font-size: 12px;
  display: flex;
}

.register-login-icon{
  line-height: 16px;
  align-items: center;
}

.page-header-bottom{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #0F0F0F;
}

.page-header-bottom svg{
  color: #969696;
}


.page-header-container{
  margin: 0 auto;
  width: 1400px;
  display: flex;
  align-items: center;
}
.page-header-container a{
  color: #969696;
}

.porten-icon{
  padding-top: 25px;
}

.nav{
  padding: 40px 20px;
  padding-top: 20px;
  background-color: #0F0F0F;
}

.navigation{
  padding-top: 23px;
  margin-left: 833px
}

.nav:hover{
	background: rgb(75, 72, 72);
}

.cart{
  margin: auto;
}
.data-list{
  color: #969696;
  list-style: none;
  display: flex;
  line-height: 16px;
  font-size: 12px;
  align-items: center;
}

.text-list-number{
  margin-left: 16px;
}

.text-list{
  margin-left: 16px;
}

.text-list::before{
  content: "|";
  margin-right  : 10px;
}

.phone-number::before{
  content: none;
}

.container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.data-list-container{
  line-height: 16px;
}







