body{
  background-color: black;
  font-family: "PT sans", "Playfair Display" , sans-serif;

}

a{
  text-decoration: none;
}


.page-header-top a{
  color: #969696;
  font-size: 12px;
  display: flex;
}

.register-login-icon{
  line-height: 16px;
  align-items: center;
}


.register-login{
  padding-left: 12px;
}

.page-header-bottom{
    display: flex;
    background-color: #0F0F0F;
}

.page-header-bottom svg{
  color: #ffff;
}

.porten-icon-svg :hover,
.porten-icon-svg :focus{
  color: #969696;
}

.cart-icon :hover,
.cart-icon :focus{
  color:#969696
}

.page-header-container a{
  color: #ffff;
}

.porten-icon{
  align-self: center;
  margin-right: auto;
}

.nav{
  padding: 31px 20px;
  background-color: #0F0F0F;
  display: block;
}

ul{
  padding: 0px;
  margin: 0px;
}

.navigation{
  margin-right: 40px;
  display: flex;
  list-style: none;
}

.nav:hover{
	background: rgb(75, 72, 72);
}

.data-list{
  color: #969696;
  list-style: none;
  display: flex;
  line-height: 16px;
  font-size: 12px;
  align-items: center;

}

.text-list{
  margin-left: 16px;
}

.text-list::before{
  content: "|";
  margin-right  : 10px;
}

.phone-number::before{
  content: none;
  box-sizing: border-box;
}

.phone-number:hover,
.phone-number:focus{
  text-decoration: underline;
}

.register-login:hover,
.register-login:focus{
  text-decoration: underline;
}

.container{
  margin: 0 auto;
  max-width: 1144px;
  width: 100%;
  padding: 0px 16px;
  box-sizing: border-box;
}
.phoneicon{
  padding-right: 17px;
}

.page-header-top-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 16px;
}

.page-header-container{
  display: flex;
  align-items: center;
  padding: 0 16px;
}


.search-box{
  width: 60px;
  height: 100%;
  position: relative;
}

.search-icon{
  position: absolute;
top: 50%;
right: 17px;
z-index: -1;
color: #fff;
font-size: 25px;
-webkit-transform: translateY(-50%);
transform: translateY(-50%);
}

.search-txt{
  border-radius: 30px;
  background-color: transparent;
  box-sizing: border-box;
  display: block;
  padding: 10px 30px;
  height: 60px;
  width: 60px;
  color: #fff;
  font-family: "Avanti","Arial",sans-serif;
  cursor: pointer;
  will-change: width;
  transition: width .4s,color .2s,background-color .2s,border-color .2s;
  z-index: 1;
  border: 1px solid transparent
}

.cart{
  margin-right: 30px;
}

.form-search-box::after{
  display: none;
  font-family: "Font Awesome 5 Regular";
  font-weight: 400;
}


.search-txt:focus{
  width: 290px;
outline: 0;
height: 67px;
border-color: #969696;
}

.form-search-box{
  position: absolute;
z-index: 1;
right: 0;
bottom: 0;
overflow: hidden;
background-color: #0F0F0F;
border-radius: 30px;
 top: 0;
 display: flex;
 align-items: center;
}


.search-txt::placeholder{
  color: #fff;
opacity: 0;
transition: opacity .4s;
}

.promo-container{
  width: 320px;
  height: 320px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 4px solid #FFFFFF;
}

.promo-content {
  margin: 0 auto;
}

.promo span {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'PT Sans';
}

.promo {
  min-height: 810px;
  padding-top: 160px;
  background-image: url(../images/backgroun-promo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  box-sizing: border-box;
}

.promo p {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  max-width: 730px;
  padding-top:80px;
}
